Repository sheddy1/Synk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/core, @godotengine/network, @godotengine/debugger, @godotengine/gdextension, @godotengine/input, @godotengine/documentation, @godotengine/audio, @godotengine/rendering, @godotengine/_platforms, @godotengine/windows, @godotengine/import, @godotengine/script-editor, @godotengine/docks, @godotengine/usability, @godotengine/gui-nodes, @godotengine/2d-editor, @godotengine/3d-editor, @godotengine/shaders, @godotengine/dotnet, @godotengine/gdscript, @godotengine/xr, @godotengine/3d-nodes, @godotengine/navigation, @godotengine/android, @godotengine/ios, @godotengine/linux-bsd, @godotengine/macos, @godotengine/web, @godotengine/2d-nodes, @godotengine/animation, @godotengine/physics, @godotengine/tests

Changed some image error messages to output the file path
  drivers/gles3/storage/texture_storage.cpp
Owners: @godotengine/rendering

Add a material preview to visual shader editor
  doc/classes/VisualShader.xml
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Owners: @godotengine/documentation, @godotengine/core

Add flag to enable use of accurate path tangents for polygon rotation in `CSGPolygon3D`
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGPolygon3D.xml
  modules/csg/tests/test_csg.h
Owners: @godotengine/3d-nodes

Added check for cached pointer bieng invalid
  editor/plugins/animation_player_editor_plugin.cpp
Owners: none

Add GDApprox test helper for approximate checks of float-based types
  tests/test_macros.h
  tests/test_validate_testing.h
Owners: @godotengine/tests

Expose runtime baking functionality in LightmapGI
  doc/classes/LightmapGI.xml
  editor/plugins/lightmap_gi_editor_plugin.cpp
  modules/lightmapper_rd/config.py
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/xatlas_unwrap/config.py
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Owners: @godotengine/documentation, @godotengine/rendering, @godotengine/3d-nodes

revert most changes
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Owners: @godotengine/rendering

Vulkan: Fix ´vkCmdDrawIndexed´ crash on Adreno 5XX devices
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  servers/rendering/rendering_context_driver.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Owners: @godotengine/rendering

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

.*                                  @godotengine/buildsystem
.github/                            @godotengine/buildsystem
*.py                                @godotengine/buildsystem
SConstruct                          @godotengine/buildsystem
SCsub                               @godotengine/buildsystem

# Core

/core/                              @godotengine/core
/core/crypto/                       @godotengine/network
/core/debugger/                     @godotengine/debugger
/core/extension/                    @godotengine/gdextension
/core/input/                        @godotengine/input

# Doc

/doc/                               @godotengine/documentation
doc_classes/*                       @godotengine/documentation

# Drivers

## Audio
/drivers/alsa/                      @godotengine/audio
/drivers/alsamidi/                  @godotengine/audio
/drivers/coreaudio/                 @godotengine/audio
/drivers/coremidi/                  @godotengine/audio
/drivers/pulseaudio/                @godotengine/audio
/drivers/wasapi/                    @godotengine/audio
/drivers/winmidi/                   @godotengine/audio
/drivers/xaudio2/                   @godotengine/audio

## Rendering
/drivers/d3d12/                     @godotengine/rendering
/drivers/egl/                       @godotengine/rendering @godotengine/_platforms
/drivers/gl_context/                @godotengine/rendering @godotengine/_platforms
/drivers/gles3/                     @godotengine/rendering
/drivers/vulkan/                    @godotengine/rendering

## OS
/drivers/unix/                      @godotengine/_platforms
/drivers/windows/                   @godotengine/windows

## Misc
/drivers/png/                       @godotengine/import

# Editor

/editor/*debugger*                  @godotengine/debugger
/editor/code_editor*                @godotengine/script-editor
/editor/*dock*                      @godotengine/docks
/editor/export/                     @godotengine/_platforms
/editor/gui/                        @godotengine/usability @godotengine/gui-nodes
/editor/icons/                      @godotengine/usability
/editor/import/                     @godotengine/import
/editor/*inspector*                      @godotengine/docks
/editor/plugins/*2d_*               @godotengine/2d-editor
/editor/plugins/*3d_*               @godotengine/3d-editor
/editor/plugins/script_*            @godotengine/script-editor
/editor/*shader*                    @godotengine/shaders
/editor/themes/                     @godotengine/usability @godotengine/gui-nodes

# Main

/main/                              @godotengine/core

# Misc

/misc/                              @godotengine/buildsystem
/misc/extension_api_validation/     @godotengine/gdextension @godotengine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/         @godotengine/audio
/modules/minimp3/                   @godotengine/audio
/modules/ogg/                       @godotengine/audio
/modules/opus/                      @godotengine/audio
/modules/theora/                    @godotengine/audio
/modules/vorbis/                    @godotengine/audio

## Import
/modules/astcenc/                   @godotengine/import
/modules/basis_universal/           @godotengine/import
/modules/bmp/                       @godotengine/import
/modules/cvtt/                      @godotengine/import
/modules/dds/                       @godotengine/import
/modules/etcpak/                    @godotengine/import
/modules/fbx/                       @godotengine/import
/modules/gltf/                      @godotengine/import
/modules/hdr/                       @godotengine/import
/modules/jpg/                       @godotengine/import
/modules/ktx/                       @godotengine/import
/modules/squish/                    @godotengine/import
/modules/svg/                       @godotengine/import
/modules/tga/                       @godotengine/import
/modules/tinyexr/                   @godotengine/import
/modules/webp/                      @godotengine/import

## Network
/modules/enet/                      @godotengine/network
/modules/mbedtls/                   @godotengine/network
/modules/multiplayer/               @godotengine/network
/modules/upnp/                      @godotengine/network
/modules/webrtc/                    @godotengine/network
/modules/websocket/                 @godotengine/network

## Rendering
/modules/glslang/                   @godotengine/rendering
/modules/lightmapper_rd/            @godotengine/rendering
/modules/meshoptimizer/             @godotengine/rendering
/modules/raycast/                   @godotengine/rendering
/modules/vhacd/                     @godotengine/rendering
/modules/xatlas_unwrap/             @godotengine/rendering

## Scripting
/modules/gdscript/                  @godotengine/gdscript
/modules/jsonrpc/                   @godotengine/gdscript
/modules/mono/                      @godotengine/dotnet

## Text
/modules/freetype/                  @godotengine/buildsystem
/modules/msdfgen/                   @godotengine/buildsystem
/modules/text_server_adv/           @godotengine/gui-nodes
/modules/text_server_fb/            @godotengine/gui-nodes

## XR
/modules/camera/                    @godotengine/xr
/modules/mobile_vr/                 @godotengine/xr
/modules/openxr/                    @godotengine/xr
/modules/webxr/                     @godotengine/xr

## Misc
/modules/csg/                       @godotengine/3d-nodes
/modules/gridmap/                   @godotengine/3d-nodes
/modules/navigation/                @godotengine/navigation
/modules/noise/                     @godotengine/shaders
/modules/regex/                     @godotengine/core
/modules/zip/                       @godotengine/core

# Platform

/platform/android/                  @godotengine/android
/platform/ios/                      @godotengine/ios
/platform/linuxbsd/                 @godotengine/linux-bsd
/platform/macos/                    @godotengine/macos
/platform/web/                      @godotengine/web
/platform/windows/                  @godotengine/windows

# Scene

/scene/*2d/                         @godotengine/2d-nodes
/scene/*3d/                         @godotengine/3d-nodes
/scene/3d/xr_*                      @godotengine/xr
/scene/*animation*                  @godotengine/animation
/scene/*audio*                      @godotengine/audio
/scene/debugger/                    @godotengine/debugger
/scene/gui/                         @godotengine/gui-nodes
/scene/*lightmap*                   @godotengine/rendering
/scene/main/                        @godotengine/core
/scene/*navigation*                 @godotengine/navigation
/scene/*particles*                  @godotengine/shaders
/scene/*physics*                    @godotengine/physics
/scene/resources/                   @godotengine/core
/scene/resources/font.*             @godotengine/gui-nodes
/scene/resources/text_line.*        @godotengine/gui-nodes
/scene/resources/text_paragraph.*   @godotengine/gui-nodes
/scene/*shader*                     @godotengine/shaders
/scene/*shape*                      @godotengine/physics
/scene/*skeleton*                   @godotengine/animation
/scene/*theme*                      @godotengine/gui-nodes

# Servers

/servers/audio*                     @godotengine/audio
/servers/camera*                    @godotengine/xr
/servers/debugger*                  @godotengine/debugger
/servers/display*                   @godotengine/_platforms
/servers/extensions/                @godotengine/gdextension
/servers/navigation*                @godotengine/navigation
/servers/*physics*                  @godotengine/physics
/servers/rendering*                 @godotengine/rendering
/servers/text*                      @godotengine/gui-nodes
/servers/xr*                        @godotengine/xr

# Tests

/tests/                             @godotengine/tests

# Thirdparty

/thirdparty/                        @godotengine/buildsystem
